#home{
    background-image: url("background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
    border-radius: 6px;
    margin-top: 60px;

}


#logo{
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    color:wheat;
    padding-left:10px;
    word-spacing:2px;
    letter-spacing: 2px;
}

#logosub{
    font-size: 20px;
    font-family: 'Luckiest Guy';
    padding-left:25px;
    color:rgb(38, 122, 122);
    letter-spacing: 1px;
}


.intro{
    font-size:80px;
    color:rgb(168, 152, 155);
    padding-left:10px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    transition: font-size 700ms;
}

.intro:hover{
    font-size: 90px;
    color:rgb(32, 173, 13)
}

/* nav bar */
.navbar {
    overflow: hidden;
    background-color: rgb(153, 137, 137);
    position: fixed;
    top: 0;
    width:94%;
    font-family: 'Fredoka One', cursive;
    border-radius: 6px;
    padding-right: 5%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 20px;
    transition: color 700ms;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }


  #about{
      background-color:rgb(143, 131, 143);
      color:white;
      border-radius:20px;
      font-family: 'Fredoka One', cursive;
      width:30%;
      font-size: 25px;
      padding:1px 1px 1px 20px;
      margin:20px 0px 0px 1%;
      float:left;
  }

  #Myimage{
      height:200px;
      padding-left:90px;
      padding-top:30px;
  }

  #Myskill{
    height:200px;
    padding-left:90px;
    padding-top:30px;

  }

  #Mytechnology{
    height:200px;
    padding-left:50px;
    padding-top:30px;
  }

  #contact{
    background-color:#333;
    background-size: cover;
    margin-top:510px;
    height:600px;
    border-radius:15px;
    font-family: 'Luckiest Guy', cursive;
  }


#about:hover{
    box-shadow: 0 0 11px rgba(138, 11, 11, 0.7); 
}

.contactMe{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  color:white;
  letter-spacing: 2px;;

}
hr{
  width:15%;
}

#form{
  padding-top:70px;
  padding-left: 200px;
}

input[type="email"]::placeholder {  
                  
  /* Firefox, Chrome, Opera */ 
  text-align: center; 
}

textarea::placeholder {  
                  
  /* Firefox, Chrome, Opera */ 
  text-align: center; 
}


input{
  width:300px;
  height:30px;
  border-radius: 70px;
  border-color: whitesmoke;
  margin-bottom: 35px;
}

label{
  font-size: 30px;
  color: rgb(247, 186, 108);
}
button{
  margin-left: 10%;
  margin-top:2%;
  height: 50px;
  width:100px;
  border-radius: 5px;
  background-color: #333;
  border: 3px solid white;
  color: white;
  font-family: 'Fredoka One', cursive;
}
textarea{
  border-radius: 20px;
}

button:hover{
  background-color:#f0ad4e;
  color:black;
}

.fa-instagram{
  float:right;
  padding-top: 50px;
  padding-right: 150px;
  justify-content: center;
  
}
.fa-linkedin{
  float:right;
  padding-top: 50px;
  padding-right: 90px;
  justify-content: center;
}
.fa-facebook-square{
  float:right;
  padding-top: 50px;
  padding-right: 90px;
  justify-content: center;
}

